body {
    background-image: url("../imagen/glass.jpg");
    background-size: cover;
    display: block;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bordeDelcontenedor {
    position: fixed;
    top: 0;
    border: 1.5px solid rgba(184, 170, 170, 0.68);
    background-color: rgb(238, 242, 241);
    width: 79em;
    z-index: 5;
}

#centrarCabezal {
    position: relative;
    left: 35%;
}

.editarDc {
    color: black;
    font-size: 4em;
    font-family: 'Dosis', sans-serif;
}

.editarOptica {
    color: #40E0D0;
    font-size: 4em;
    font-family: 'Oswald', sans-serif;
}

.ulLi {
    width: 120px;
    height: 18px;
    list-style: none;
    margin-left: 10px;
    margin-bottom: 5px;
}


.textoLi {
    color: black;
}

.cajaDelista {
    border: 1.5px solid rgba(184, 170, 170, 0.68);
    width: 140px;
    border-radius: 15px;
}

.moverCajas {
    margin-top: 105px;
}

header a {
    text-decoration: none;
}

.textoLocalidad {
    font-family: 'Open Sans', sans-serif;
    font-size: 2em;
    margin-left: 30%;
}

.textoGuia {
    margin-left: 15%;
    margin-block-end: 40px
}

.h1Titulo {
    margin-left: 33%;
    font-family: 'Open Sans', sans-serif;
    font-size: 3em;
}

.imgHtml {
    padding: 15px;
    margin-left: 8em;
}

.centrarImg {
    position: relative;
    top: 15px;
    left: 27%;
    width: 30%;
}

.tamañoDeimg {
    height: 14em;
    width: 14em;
}

.btnWts {
    position: fixed;
    width: 5%;
    right: 10px;
    bottom: 5px;
}

form {
    width: 30em;
    height: 20em;
    padding: 1em;
    margin: 0.5em;
    border-radius: 0px 10px 39px 22px;
    border: 1.5px solid rgba(7, 6, 6, 0.338);
}


.moverLicontacto {
    margin: 5px;
}



.headerGrid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 17vh 140px;
    grid-template-areas: "barraTitulogrid barraTitulogrid"
        "itemsGrid tituloGrid";
}

.barraTitulogrid {
    grid-area: barraTitulogrid;
    display: flex;
    justify-content: center;
    border: 1.5px solid rgba(184, 170, 170, 0.68);
    background-color: rgb(238, 242, 241);
    flex-wrap: wrap;
    width: 100%;
}

.itemsGrid {
    grid-area: itemsGrid;
    margin: 10px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
    margin-top: 100px;
}

.tituloGrid {
    grid-area: tituloGrid;
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    padding: 50px;
}

.mainGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 30vh 1fr 40vh 40vh 11vh;
    grid-template-areas: "imgGrid0 imgGrid0 imgGrid0 imgGrid0"
        ". loremGrid loremGrid loremGrid"
        "imgMuestra1 imgMuestra2 imgMuestra3 imgMuestra4"
        "imgMuestra5 imgMuestra6 imgMuestra7 imgMuestra8";
}

.imgGrid0 {
    grid-area: imgGrid0;
    max-width: 120vh;
    display: flex;
    justify-self: center;
    flex-wrap: wrap;
}

.loremGrid {
    grid-area: loremGrid;
    display: flex;
    flex-wrap: wrap;
}

.imgMuestra1 {
    grid-area: imgMuestra1;
    max-height: 30vh;
    max-width: 38vh;
    display: flex;
    justify-self: center;
    align-self: center;
    padding: 0.6875rem;
    background-color: rgb(238, 242, 241);
    border-radius: 10px;
    flex-wrap: wrap;
}

.imgMuestra2 {
    grid-area: imgMuestra2;
    max-height: 30vh;
    max-width: 38vh;
    display: flex;
    justify-self: center;
    align-self: center;
    padding: 0.6875rem;
    background-color: rgb(238, 242, 241);
    border-radius: 10px;
    flex-wrap: wrap;
}

.imgMuestra3 {
    grid-area: imgMuestra3;
    max-height: 30vh;
    max-width: 38vh;
    display: flex;
    justify-self: center;
    align-self: center;
    padding: 0.6875rem;
    background-color: rgb(238, 242, 241);
    border-radius: 10px;
    flex-wrap: wrap;
}

.imgMuestra4 {
    grid-area: imgMuestra4;
    max-height: 30vh;
    max-width: 38vh;
    display: flex;
    justify-self: center;
    align-self: center;
    padding: 0.6875rem;
    background-color: rgb(238, 242, 241);
    border-radius: 10px;
    flex-wrap: wrap;
}

.imgMuestra5 {
    grid-area: imgMuestra5;
    max-height: 30vh;
    max-width: 38vh;
    display: flex;
    justify-self: center;
    align-self: center;
    padding: 0.6875rem;
    background-color: rgb(238, 242, 241);
    border-radius: 10px;
    flex-wrap: wrap;
}

.imgMuestra6 {
    grid-area: imgMuestra6;
    max-height: 30vh;
    max-width: 38vh;
    display: flex;
    justify-self: center;
    align-self: center;
    padding: 0.6875rem;
    background-color: rgb(238, 242, 241);
    border-radius: 10px;
    flex-wrap: wrap;
}

.imgMuestra7 {
    grid-area: imgMuestra7;
    max-height: 30vh;
    max-width: 38vh;
    display: flex;
    justify-self: center;
    align-self: center;
    padding: 0.6875rem;
    background-color: rgb(238, 242, 241);
    border-radius: 10px;
    flex-wrap: wrap;
}

.imgMuestra8 {
    grid-area: imgMuestra8;
    max-height: 30vh;
    max-width: 38vh;
    display: flex;
    justify-self: center;
    align-self: center;
    padding: 0.6875rem;
    background-color: rgb(238, 242, 241);
    border-radius: 10px;
    flex-wrap: wrap;
}

.footerGrid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10vh;
    grid-template-areas: "footerGrid";
    display: flex;
    flex-wrap: wrap;
}

.footerGrid {
    grid-area: footerGrid;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgb(238, 242, 241);
}

@media only screen and (max-width: 1024px) {

    .headerGrid {
        grid-template-columns: 1fr 1.5fr;
        grid-template-rows: 17vh 120px;
    }

    .mainGrid {
        grid-template-rows: 25vh 1fr 30vh 30vh 1vh;
    }

    .imgGrid0 {
        max-width: 90vh;
        margin: 10PX;
    }

    .imgMuestra1 {
        max-height: 15vh;
        max-width: 20vh;
    }

    .imgMuestra2 {
        max-height: 15vh;
        max-width: 20vh;
    }

    .imgMuestra3 {
        max-height: 15vh;
        max-width: 20vh;
    }

    .imgMuestra4 {
        max-height: 15vh;
        max-width: 20vh;
    }

    .imgMuestra5 {
        max-height: 15vh;
        max-width: 20vh;
    }

    .imgMuestra6 {
        max-height: 15vh;
        max-width: 20vh;
    }

    .imgMuestra7 {
        max-height: 15vh;
        max-width: 20vh;
    }

    .imgMuestra8 {
        max-height: 15vh;
        max-width: 20vh;
    }

}

@media only screen and (max-width: 500px) {
    .headerGrid {
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 17vh 125px;
    }

    .barraTitulogrid {
        width: 84.9vh;
        right: .5vh;
    }

    .tituloGrid {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }


    .mainGrid {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 20vh 3fr 23vh 23vh 23vh 23vh;
        grid-template-areas: "imgGrid0 imgGrid0"
            "loremGrid loremGrid"
            "imgMuestra1 imgMuestra2"
            "imgMuestra3 imgMuestra4"
            "imgMuestra5 imgMuestra6"
            "imgMuestra7 imgMuestra8"
    }

    .imgGrid0 {
        width: 46vh;
    }

    .loremGrid {
        text-align: center;
    }

    .imgMuestra1 {
        height: 20vh;
        width: 28vh;
        display: flex;
        justify-self: self-end;
        margin: 20px;
    }

    .imgMuestra2 {
        height: 20vh;
        width: 28vh;
        display: flex;
        justify-self: self-start;
        margin: 20px;
    }

    .imgMuestra3 {
        height: 20vh;
        width: 28vh;
        display: flex;
        justify-self: self-end;
        margin: 20px;
    }

    .imgMuestra4 {
        height: 20vh;
        width: 28vh;
        display: flex;
        justify-self: self-start;
        margin: 20px;
    }

    .imgMuestra5 {
        height: 20vh;
        width: 28vh;
        display: flex;
        justify-self: self-end;
        margin: 20px;
    }

    .imgMuestra6 {
        height: 20vh;
        width: 28vh;
        display: flex;
        justify-self: self-start;
        margin: 20px;
    }

    .imgMuestra7 {
        height: 20vh;
        width: 28vh;
        display: flex;
        justify-self: self-end;
        margin: 20px;
    }

    .imgMuestra8 {
        height: 20vh;
        width: 28vh;
        display: flex;
        justify-self: self-start;
        margin: 20px;
    }

}

/*---index----*/

.headerIndex {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 17vh 140px;
    grid-template-areas: "barraTituIndex barraTituIndex"
        "itemsIndex tituloIndex";
}

.barraTituIndex {
    grid-area: barraTituIndex;
    display: flex;
    justify-content: center;
    border: 1.5px solid rgba(184, 170, 170, 0.68);
    background-color: rgb(238, 242, 241);
    flex-wrap: wrap;
    width: 100%;
}

.itemsIndex {
    grid-area: itemsGrid;
    margin: 10px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
    margin-top: 100px;
}

.tituloIndex {
    grid-area: tituloIndex;
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    padding: 50px;
}


.mainIndexgrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 40vh 10vh 6% 6% 9% 9% 34.7%;
    grid-template-areas: "imgIndex1 imgIndex2 imgIndex3"
        "loremIndex loremIndex loremIndex"
        "tb1 tb1 tb1"
        "tb2 tb3 tb3"
        "tb4 tb5 tb5"
        "tb6 tb7 tb7"
        "videoIndex videoIndex videoIndex";
}

.imgIndex1 {
    grid-area: imgIndex1;
    height: 35vh;
    width: 44vh;
    margin: 10px;
    margin-left: 15vh;
}

.imgIndex2 {
    grid-area: imgIndex2;
    height: 35vh;
    width: 44vh;
    margin: 10px;

}

.imgIndex3 {
    grid-area: imgIndex3;
    height: 35vh;
    width: 44vh;
    margin: 10px;

}

.loremIndex {
    grid-area: loremIndex;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*-------TABLA-------*/

.tb1 {
    grid-area: tb1;
    background-color: aqua;
    border-style: solid;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 52vh;
    margin-left: 53vh;
    flex-wrap: wrap;

}

.tb2 {
    grid-area: tb2;
    background-color: aqua;
    border-style: solid;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 53vh;
}

.tb3 {
    grid-area: tb3;
    background-color: aqua;
    border-style: solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 52vh;
}

.tb4 {
    grid-area: tb4;
    background-color: aqua;
    border-style: solid;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 53vh;
}

.tb5 {
    grid-area: tb5;
    background-color: aqua;
    border-style: solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 52vh;
}

.tb6 {
    grid-area: tb6;
    background-color: aqua;
    border-style: solid;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 53vh;
}

.tb7 {
    grid-area: tb7;
    background-color: aqua;
    border-style: solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 52vh;
}

/*------- fin de TABLA-------*/

.videoIndex {
    grid-area: videoIndex;
    margin-left: 60vh;
    padding: 30px;
}



.tbMargen {
    padding: 3px;
}

.footerIndex {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10vh;
    grid-template-areas: "footerIndex";
}

.footerIndex {
    grid-area: footerIndex;
    background-color: rgb(238, 242, 241);
    text-align: center;
}



@media only screen and (max-width: 1024px) {


    .tituloIndex {
        margin-left: -5vh;
    }

    .mainIndexgrid {
        grid-template-columns: 1.5fr 1fr 1fr;

    }

    .imgIndex1 {
        margin-left: 25vh;
    }

    .videoIndex {
        margin-left: 38vh;
    }

    .footerIndex {
        width: 100%;
    }

}


@media only screen and (max-width: 500px) {

    .headerIndex {
        grid-template-columns: 152px 180vh;
    }

    .tituloIndex {

        justify-self: center;
        margin-left: -60vh;
    }

    .footerIndex {
        width: 165.5vh;
    }

}

/*-----------ANTEOJOS DE RECETA-----------*/

.headerReceta {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 17vh 120px;
    grid-template-areas: "barraTituloReceta barraTituloReceta"
        "itemsReceta tituloReceta";
}

.barraTituloReceta {
    grid-area: barraTituloReceta;
    display: flex;
    justify-self: center;
    border: 1.5px solid rgba(184, 170, 170, 0.68);
    background-color: rgb(238, 242, 241);
    width: 100%;
}

.itemsReceta {
    grid-area: itemsReceta;
    margin: 10px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
    margin-top: 100px;
}

.tituloReceta {
    grid-area: tituloReceta;
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    padding: 50px;
}

.mainReceta {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 23vh 4% 37vh 40vh;
    grid-template-areas: "imgReceta1 imgReceta1 imgReceta1 imgReceta1"
        ". loremReceta loremReceta loremReceta"
        "imgReceta2 imgReceta3 imgReceta4 imgReceta5"
        "imgReceta6 imgReceta7 imgReceta8 imgReceta9";
}

.imgReceta1 {
    grid-area: imgReceta1;
    width: 220%;
    margin-left: 50vh;
}

.loremReceta {
    grid-area: loremReceta;
    display: flex;
    flex-wrap: wrap;
    margin-block-start: 1%;
}

.imgReceta2 {
    grid-area: imgReceta2;
    height: 30vh;
    width: 38vh;
    display: flex;
    justify-self: center;
    align-self: center;
    padding: 0.6875rem;
    background-color: rgb(238, 242, 241);
    border-radius: 10px;
    flex-wrap: wrap;
}

.imgReceta3 {
    grid-area: imgReceta3;
    height: 30vh;
    width: 38vh;
    display: flex;
    justify-self: center;
    align-self: center;
    padding: 0.6875rem;
    background-color: rgb(238, 242, 241);
    border-radius: 10px;
    flex-wrap: wrap;
}

.imgReceta4 {
    grid-area: imgReceta4;
    height: 30vh;
    width: 38vh;
    display: flex;
    justify-self: center;
    align-self: center;
    padding: 0.6875rem;
    background-color: rgb(238, 242, 241);
    border-radius: 10px;
    flex-wrap: wrap;
}

.imgReceta5 {
    grid-area: imgReceta5;
    height: 30vh;
    width: 38vh;
    display: flex;
    justify-self: center;
    align-self: center;
    padding: 0.6875rem;
    background-color: rgb(238, 242, 241);
    border-radius: 10px;
    flex-wrap: wrap;
}

.imgReceta6 {
    grid-area: imgReceta6;
    height: 30vh;
    width: 38vh;
    display: flex;
    justify-self: center;
    align-self: center;
    padding: 0.6875rem;
    background-color: rgb(238, 242, 241);
    border-radius: 10px;
    flex-wrap: wrap;
}

.imgReceta7 {
    grid-area: imgReceta7;
    height: 30vh;
    width: 38vh;
    display: flex;
    justify-self: center;
    align-self: center;
    padding: 0.6875rem;
    background-color: rgb(238, 242, 241);
    border-radius: 10px;
    flex-wrap: wrap;
}

.imgReceta8 {
    grid-area: imgReceta8;
    height: 30vh;
    width: 38vh;
    display: flex;
    justify-self: center;
    align-self: center;
    padding: 0.6875rem;
    background-color: rgb(238, 242, 241);
    border-radius: 10px;
    flex-wrap: wrap;
}

.imgReceta9 {
    grid-area: imgReceta9;
    height: 30vh;
    width: 38vh;
    display: flex;
    justify-self: center;
    align-self: center;
    padding: 0.6875rem;
    background-color: rgb(238, 242, 241);
    border-radius: 10px;
    flex-wrap: wrap;
}

.footerReceta {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10vh;
    grid-template-areas: "footerGrid";
    display: flex;
    flex-wrap: wrap;
}

.footerReceta {
    grid-area: footerReceta;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgb(238, 242, 241);
}

@media only screen and (max-width: 1024px) {
    .barraTituloReceta {
        width: 213.3vh;
        margin-left: 20%;
    }

    .tituloReceta {
        grid-area: tituloReceta;
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
    }

    .mainReceta {
        grid-template-rows: 23vh 4% 40vh 40vh;
    }

    .imgReceta1 {
        grid-area: imgReceta1;
        width: 20;
        margin-left: 26vh;
    }
    
    .loremReceta {
        grid-area: loremReceta;
        display: flex;
        flex-wrap: wrap;
        
    }
    
    .imgReceta2 {
        height: 25vh;
        width: 20vh;
    }
    
    .imgReceta3 {
        height: 25vh;
        width: 20vh;
    }
    
    .imgReceta4 {
        height: 25vh;
        width: 20vh;
    }
    
    .imgReceta5 {
        height: 25vh;
        width: 20vh;
    }
    
    .imgReceta6 {
        height: 25vh;
        width: 20vh;
    }
    
    .imgReceta7 {
        height: 25vh;
        width: 20vh;
    }
    
    .imgReceta8 {
        height: 25vh;
        width: 20vh;
    }
    
    .imgReceta9 {
        height: 25vh;
        width: 20vh;
    }

    .footerReceta {
        width: 100%;
    }
}

@media only screen and (max-width: 500px) {
    .headerReceta {
        grid-template-columns: .1fr 1fr;
        grid-template-rows: 17vh 120px;
    }

    .barraTituloReceta {
        height: 100px;
    }

    .mainReceta {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: "imgReceta1 imgReceta1"
            "loremReceta loremReceta"
            "imgReceta2 imgReceta3"
            "imgReceta4 imgReceta5"
            "imgReceta6 imgReceta7"
            "imgReceta8 imgReceta9";
    }


    .imgReceta1 {
        width: 30vh;
        margin: 0%;
        
    }

    .loremReceta {
        display: flex;
        justify-content: center;
    }

    .imgReceta2 {
        height: 15vh;
        width: 20vh;
    }
    

    .imgReceta3 {
        height: 15vh;
        width: 20vh;
    }

    .imgReceta4 {
        height: 15vh;
        width: 20vh;
    }

    .imgReceta5 {
        height: 15vh;
        width: 20vh;
    }

    .imgReceta6 {
        height: 15vh;
        width: 20vh;
    }

    .imgReceta7 {
        height: 15vh;
        width: 20vh;
    }

    .imgReceta8 {
        height: 15vh;
        width: 20vh;
    }

    .imgReceta9 {
        height: 15vh;
        width: 20vh;
    }
}

/*---------------CONTACTO------------*/

.headerContacto {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 17vh 17vh;
    grid-template-areas: "barraTituloContacto"
        "itemsContacto";
}

.barraTituloContacto {
    grid-area: barraTituloContacto;
    display: flex;
    align-items: center;
    border: 1.5px solid rgba(184, 170, 170, 0.68);
    background-color: rgb(238, 242, 241);
    flex-wrap: wrap;
    width: 100%;
}

.moverFormgrid {
    grid-area: moverFormgrid;
}

.itemsContacto {
    grid-area: itemsContacto;
}


.formGrid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60vh;
    grid-template-areas: "formGrid";
}

.formGrid {
    grid-area: formGrid;
}

.footerContacto {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 9vh;
    grid-template-areas: "footerReceta";
}


.footerContacto {
    grid-area: footerContacto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(238, 242, 241);
}





@media only screen and (max-width: 500px) {
    .barraTituloContacto {
        margin-left: -10%;
        width: 100vh;
        ;
    }
}

/*----------LENTES DE CONTACTO-----------*/

.headerLentes {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 19vh 120px;
    grid-template-areas: "barraTitulolentes barraTitulolentes"
        "itemsLentes tituloLentes";
}

.barraTitulolentes {
    grid-area: barraTitulolentes;
    display: flex;
    justify-self: center;
    border: 1.5px solid rgba(184, 170, 170, 0.68);
    background-color: rgb(238, 242, 241);
    width: 100%;
}


.itemsLentes {
    grid-area: itemsLentes;
    margin: 10px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
    margin-top: 100px;
}


.tituloLentes {
    grid-area: tituloLentes;
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    padding: 50px;
}


.mainLentes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 26vh 3% 37vh 40vh;
    grid-template-areas: "imgLentes1 imgLentes1 imgLentes1 imgLentes1"
        ". loremLentes loremLentes loremLentes"
        "imgLentes2 imgLentes3 imgLentes4 imgLentes5"
        "imgLentes6 imgLentes7 imgLentes8 imgLentes9";
}

.imgLentes1 {
    grid-area: imgLentes1;
    width: 200%;
    height: 100%;
    margin-left: 50vh;
}

.loremLentes {
    grid-area: loremLentes;
    display: flex;
    flex-wrap: wrap;
    margin-block-start: .3%;
}

.imgLentes2 {
    grid-area: imgLentes2;
    height: 33vh;
    width: 48vh;
    display: flex;
    justify-self: center;
    align-self: center;
    padding: 0.6875rem;
    background-color: rgb(238, 242, 241);
    border-radius: 10px;
    flex-wrap: wrap;
}

.imgLentes3 {
    grid-area: imgLentes3;
    height: 33vh;
    width: 48vh;
    display: flex;
    justify-self: center;
    align-self: center;
    padding: 0.6875rem;
    background-color: rgb(238, 242, 241);
    border-radius: 10px;
    flex-wrap: wrap;
}

.imgLentes4 {
    grid-area: imgLentes4;
    height: 33vh;
    width: 48vh;
    display: flex;
    justify-self: center;
    align-self: center;
    padding: 0.6875rem;
    background-color: rgb(238, 242, 241);
    border-radius: 10px;
    flex-wrap: wrap;
}

.imgLentes5 {
    grid-area: imgLentes5;
    height: 33vh;
    width: 48vh;
    display: flex;
    justify-self: center;
    align-self: center;
    padding: 0.6875rem;
    background-color: rgb(238, 242, 241);
    border-radius: 10px;
    flex-wrap: wrap;
}


.imgLentes6 {
    grid-area: imgLentes6;
    height: 33vh;
    width: 48vh;
    display: flex;
    justify-self: center;
    align-self: center;
    padding: 0.6875rem;
    background-color: rgb(238, 242, 241);
    border-radius: 10px;
    flex-wrap: wrap;
}


.imgLentes7 {
    grid-area: imgLentes7;
    height: 33vh;
    width: 48vh;
    display: flex;
    justify-self: center;
    align-self: center;
    padding: 0.6875rem;
    background-color: rgb(238, 242, 241);
    border-radius: 10px;
    flex-wrap: wrap;
}

.imgLentes8 {
    grid-area: imgLentes8;
    height: 33vh;
    width: 48vh;
    display: flex;
    justify-self: center;
    align-self: center;
    padding: 0.6875rem;
    background-color: rgb(238, 242, 241);
    border-radius: 10px;
    flex-wrap: wrap;
}


.imgLentes9 {
    grid-area: imgLentes9;
    height: 33vh;
    width: 48vh;
    display: flex;
    justify-self: center;
    align-self: center;
    padding: 0.6875rem;
    background-color: rgb(238, 242, 241);
    border-radius: 10px;
    flex-wrap: wrap;
}

.footerLentes {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10vh;
    grid-template-areas: "footerGrid";
    display: flex;
    flex-wrap: wrap;
}

.footerLentes {
    grid-area: footerLentes;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgb(238, 242, 241);
}

@media only screen and (max-width: 1024px) {
    .barraTitulolentes {
        width: 120%;
        margin-left: 20%;
    }
    .footerLentes {
        width: 120%;
    }
}


@media only screen and (max-width: 500px) {
    .headerLentes {
        display: grid;
        grid-template-columns: 30% 167%;
    }

    .barraTitulolentes {
        grid-area: barraTitulolentes;
        margin-left: 70%;
        width: 149%;
    }

    .tituloLentes {
        grid-area: tituloLentes;
        margin-left: 23%;
    }

    .mainLentes {
        display: grid;
        grid-template-columns: 600px 400px;
        grid-template-rows: 24vh 3fr 45vh 45vh 45vh 45vh;
        grid-template-areas: "imgLentes1 imgLentes1"
            "loremLentes loremLentes"
            "imgLentes2 imgLentes3"
            "imgLentes4 imgLentes5"
            "imgLentes6 imgLentes7"
            "imgLentes8 imgLentes9";
    }

    .imgLentes1 {
        width: 100%;
    }

    .loremLentes {
        display: flex;
        justify-content: center;
    }

    .imgLentes2 {
        height: 30vh;
        width: 50vh;
        display: flex;
        justify-content: center;
        margin: 20px;
        mar
    }

    .imgLentes3 {
        height: 30vh;
        width: 50vh;
        display: flex;
        justify-self: self-start;
        margin: 20px;
    }

    .imgLentes4 {
        height: 30vh;
        width: 50vh;
        display: flex;
        justify-content: center;
        margin: 20px;
    }

    .imgLentes5 {
        height: 30vh;
        width: 50vh;
        display: flex;
        justify-self: self-start;
        margin: 20px;
    }

    .imgLentes6 {
        height: 30vh;
        width: 50vh;
        display: flex;
        justify-content: center;
        margin: 20px;
    }

    .imgLentes7 {
        height: 30vh;
        width: 50vh;
        display: flex;
        justify-self: self-start;
        margin: 20px;
    }

    .imgLentes8 {
        height: 30vh;
        width: 50vh;
        display: flex;
        justify-content: center;
        margin: 20px;
    }

    .imgLentes9 {
        height: 30vh;
        width: 50vh;
        display: flex;
        justify-self: self-start;
        margin: 20px;
    }

    .footerLentes {
        width: 206vh;
    }

}
