* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-image: url("../imagen/glass.jpg");
  background-size: cover;
  display: block; }

a {
  text-decoration: none; }

table, th, td {
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-collapse: collapse;
  width: 50%;
  text-align: center; }

li {
  list-style: none; }

/* ---- INDEX ---- */
.mainIndex {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.7fr 0.2fr 0.1fr 0.1fr;
  grid-template-areas: "imgIndex1 imgIndex2 imgIndex3" "loremIndex loremIndex loremIndex" "table table table" "videoIndex videoIndex videoIndex"; }

.imgIndex1 {
  grid-area: imgIndex1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }

.imgIndex1 figure {
  position: relative;
  height: 230px;
  width: 230px;
  overflow: hidden;
  border-radius: 6px;
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.5); }

.imgIndex1 figure img1 {
  transition: all 500ms ease-out; }

.imgIndex1 figure .capa {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(11, 103, 123, 0.6);
  opacity: 0;
  visibility: hidden;
  text-align: center; }

.imgIndex1 figure:hover > .capa {
  opacity: 1;
  visibility: visible; }

.imgIndex1 figure:hover > .capa .h2 {
  margin-top: 70px;
  margin-bottom: 15px; }

.imgIndex1 figure .capa .h2 {
  color: white;
  font-weight: 400;
  margin-bottom: 120px;
  margin-top: 30px;
  transition: all 500ms ease-out; }

.imgIndex1 figure .capa p {
  color: white;
  font-size: 15px;
  line-height: 1.5;
  width: 100%;
  max-width: 220px;
  margin: auto; }

.imgIndex2 {
  grid-area: imgIndex2;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }

.imgIndex2 figure {
  position: relative;
  height: 230px;
  width: 230px;
  overflow: hidden;
  border-radius: 6px;
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.5); }

.imgIndex2 figure img2 {
  transition: all 500ms ease-out; }

.imgIndex2 figure .capa2 {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(11, 103, 123, 0.6);
  opacity: 0;
  visibility: hidden;
  text-align: center; }

.imgIndex2 figure:hover > .capa2 {
  opacity: 1;
  visibility: visible; }

.imgIndex2 figure:hover > .capa2 .h2 {
  margin-top: 70px;
  margin-bottom: 15px; }

.imgIndex2 figure .capa2 .h2 {
  color: white;
  font-weight: 400;
  margin-bottom: 120px;
  margin-top: 30px;
  transition: all 500ms ease-out; }

.imgIndex2 figure .capa2 p {
  color: white;
  font-size: 15px;
  line-height: 1.5;
  width: 100%;
  max-width: 220px;
  margin: auto; }

.imgIndex3 {
  grid-area: imgIndex3;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }

.imgIndex3 figure {
  position: relative;
  height: 230px;
  width: 230px;
  overflow: hidden;
  border-radius: 6px;
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.5); }

.imgIndex3 figure img3 {
  transition: all 500ms ease-out; }

.imgIndex3 figure .capa3 {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(11, 103, 123, 0.6);
  opacity: 0;
  visibility: hidden;
  text-align: center; }

.imgIndex3 figure:hover > .capa3 {
  opacity: 1;
  visibility: visible; }

.imgIndex3 figure:hover > .capa3 .h2 {
  margin-top: 70px;
  margin-bottom: 15px; }

.imgIndex3 figure .capa3 .h2 {
  color: white;
  font-weight: 400;
  margin-bottom: 120px;
  margin-top: 30px;
  transition: all 500ms ease-out; }

.imgIndex3 figure .capa3 p {
  color: white;
  font-size: 15px;
  line-height: 1.5;
  width: 100%;
  max-width: 220px;
  margin: auto; }

.loremIndex {
  grid-area: loremIndex;
  display: flex;
  justify-content: center;
  align-items: center; }

/*-------TABLA-------*/
.table {
  grid-area: table;
  display: flexbox;
  justify-self: center;
  background-color: rgba(78, 204, 213, 0.881); }

.videoIndex {
  grid-area: videoIndex;
  text-align: center;
  margin-top: 10vh; }

/* ---- FOOTER GENERAL ---- */
footer {
  border: 1.5px solid rgba(184, 170, 170, 0.68);
  background-image: linear-gradient(0deg, #22c1c3 0%, rgba(4, 6, 3, 0.723594) 38%);
  text-align: center; }

/*  ---- CONTACTO ---- */
.headerContacto {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "barraContacto" "itemsContacto" "tituloContacto"; }

.barraContacto {
  grid-area: barraContacto;
  border: 1.5px solid rgba(184, 170, 170, 0.68);
  background-image: linear-gradient(0deg, #22c1c3 0%, rgba(4, 6, 3, 0.723594) 38%);
  display: flex;
  justify-content: center;
  align-items: center; }

.itemsContacto {
  grid-area: itemsContacto;
  margin-left: 5px;
  width: 25vh;
  animation: menu_animado;
  animation-duration: 5s;
  animation-delay: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out; }

.tituloContacto {
  grid-area: tituloContacto;
  text-align: center; }

@keyframes menu_animado {
  0% { }
  25% { }
  50% { }
  75% { }
  100% {
    background-color: #22c1c3; } }

.formContacto {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "form"; }

.form {
  grid-area: form;
  margin-left: 3vh;
  border-radius: 0px 10px 39px 22px;
  border: 3px solid rgba(7, 6, 6, 0.338);
  width: 30em;
  height: 20em; }

/*  ---- ANTEOJOS DE SOL, DE CONTACTO Y DE RECETA ---- */
.header {
  display: grid;
  grid-template-columns: 1.2fr 8fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "barra barra" "items titulo"; }

.barra {
  grid-area: barra;
  border: 1.5px solid rgba(184, 170, 170, 0.68);
  background-image: linear-gradient(0deg, #22c1c3 0%, rgba(4, 6, 3, 0.723594) 38%);
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10; }

.items {
  grid-area: items;
  margin-left: 8px;
  margin-top: 5px;
  animation: menu_animado;
  animation-duration: 5s;
  animation-delay: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out; }

@keyframes menu_animado {
  0% { }
  25% { }
  50% { }
  75% { }
  100% {
    background-color: #22c1c3; } }

.titulo {
  grid-area: titulo;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  right: 10vh; }

.main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 0.2fr 1fr 1.5fr;
  grid-template-areas: "img1 img1 img1 img1" "lorem lorem lorem lorem" "img2 img3 img4 img5" "img6 img7 img8 img9"; }

.img1 {
  grid-area: img1;
  text-align: center; }

.lorem {
  grid-area: lorem;
  text-align: center; }

.img2 {
  grid-area: img2;
  display: flex;
  justify-self: center; }

.img3 {
  grid-area: img3;
  display: flex;
  justify-self: center; }

.img4 {
  grid-area: img4;
  display: flex;
  justify-self: center; }

.img5 {
  grid-area: img5;
  display: flex;
  justify-self: center; }

.img6 {
  grid-area: img6;
  display: flex;
  justify-self: center;
  margin-top: 30%; }

.img7 {
  grid-area: img7;
  display: flex;
  justify-self: center;
  margin-top: 30%; }

.img8 {
  grid-area: img8;
  display: flex;
  justify-self: center;
  margin-top: 30%; }

.img9 {
  grid-area: img9;
  display: flex;
  justify-self: center;
  margin-top: 30%; }

/*  ---- ICONO DE WHATSAPP ---- */
.container {
  background-color: #2e6329;
  border: 1px solid #fff;
  position: sticky;
  z-index: 5;
  border-radius: 50%;
  bottom: 20px;
  transition: ease 1.3s;
  animation: efecto 1s normal;
  animation-name: cambiarColor;
  animation-duration: 6s; }

@keyframes cambiarColor {
  0% {
    transform: scale(1); }
  20% {
    transform: scale(1.3); }
  50% {
    transform: scale(1.6); }
  80% {
    transform: scale(1.9); }
  100% {
    transform: scale(1); } }

.container:hover {
  transform: scale(1.1);
  transition: 1.3s; }

.boton {
  width: 80px;
  transition: ease 1s;
  left: 91%; }

@media only screen and (max-width: 1024px) {
  /* ---- INDEX ---- */
  .boton {
    width: 80px;
    transition: ease 1s;
    left: 89%; }
  /*  ---- ANTEOJOS DE SOL, DE CONTACTO Y DE RECETA ---- */
  .header {
    grid-template-columns: 1.8fr 8fr; }
  .main {
    grid-template-rows: 0.5fr 0.1fr 0fr 1fr; }
  .img1 {
    display: flex;
    align-items: center;
    justify-content: center; } }

@media only screen and (max-width: 800px) {
  /* ---- INDEX ---- */
  .mainIndex {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 0.2fr 0.1fr 0.1fr;
    grid-template-areas: "imgIndex1 imgIndex2" "imgIndex3 imgIndex3" "loremIndex loremIndex" "table table" "videoIndex videoIndex"; }
  .videoIndex {
    margin-top: 5vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; }
  .boton {
    width: 60px;
    left: 88%; }
  /*  ---- ANTEOJOS DE SOL, DE CONTACTO Y DE RECETA ---- */
  .header {
    grid-template-rows: 1fr 1fr; }
  .main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.3fr 0fr 1.2fr 1.2fr 1.2fr 1fr;
    grid-template-areas: "img1 img1" "lorem lorem" "img2 img3"  "img4 img5" "img6 img7"  "img8 img9"; }
  .img1 {
    display: flex;
    align-items: center;
    justify-content: center; }
  .img2,
  .img3,
  .img4,
  .img5 {
    display: flex;
    justify-self: center; }
  .img6,
  .img7,
  .img8,
  .img9 {
    margin-top: 0; } }

@media only screen and (max-width: 500px) {
  /* ---- INDEX ---- */
  .editarDc {
    font-size: 3em; }
  .editarOptica {
    font-size: 3em; }
  .mainIndex {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr .1fr .1fr .1fr;
    grid-template-areas: "imgIndex1 imgIndex1" "imgIndex2 imgIndex2" "imgIndex3 imgIndex3" "loremIndex loremIndex" "table table" "videoIndex videoIndex"; }
  .loremIndex {
    text-align: center; }
  .boton {
    width: 48px;
    left: 83%;
    display: flex;
    flex-wrap: wrap; }
  /*  ---- CONTACTO ---- */
  .form {
    width: 18em; }
  /*  ---- ANTEOJOS DE SOL, DE CONTACTO Y DE RECETA ---- */
  .header {
    display: grid;
    grid-template-columns: 0.4fr 1fr;
    grid-template-rows: .9fr 1fr; }
  .titulo {
    right: 0; }
  .main {
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 0.1fr 0fr 1.1fr 1.1fr 1.1fr 1.1fr 1.1fr 1.1fr 1.1fr;
    grid-template-areas: "img1" "lorem" "img2"  "img3"  "img4"  "img5" "img6"  "img7"  "img8"  "img9"; }
  .img2,
  .img3,
  .img4,
  .img5,
  .img6,
  .img7,
  .img8,
  .img9 {
    align-self: center; } }

.editarDc {
  color: black;
  font-size: 4em;
  font-family: 'Dosis', sans-serif; }

.editarOptica {
  color: #0CE8E1;
  font-size: 4em;
  font-family: 'Oswald', sans-serif; }

.bordeDeli {
  border-radius: 15px;
  border-style: solid;
  border-color: rgba(184, 170, 170, 0.68); }

main article div div {
  margin: 15px;
  border-radius: 6px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  cursor: default;
  transition: all 400ms ease;
  padding: 10px;
  text-align: center; }
  main article div div:hover {
    box-shadow: 0px 1px 10px rgba(5, 5, 20, 0.4);
    transform: translate(-2%); }
  main article div div div h2 {
    font-weight: 400px;
    margin-bottom: 20px; }
  main article div div div p {
    line-height: 1.5;
    color: #535050; }

.button, main article div div div a {
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  margin-top: 8px;
  color: #0CE8E1;
  border: 1px solid #0CE8E1;
  border-radius: 4px;
  transition: all 400ms ease; }
  .button:hover, main article div div div a:hover {
    color: #fff;
    background-color: #0CE8E1; }
