body {
    background-image: url("../imagen/glass.jpg");
    background-size: cover;
    display: block;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* .bordeDelcontenedor {
    position: fixed;
    top: 0;
    border: 1.5px solid rgba(184, 170, 170, 0.68);
    background-color: rgb(238, 242, 241);
    width: 100%;
    z-index: 5;
} */

.editarDc {
    color: black;
    font-size: 4em;
    font-family: 'Dosis', sans-serif;
}

.editarOptica {
    color: #40E0D0;
    font-size: 4em;
    font-family: 'Oswald', sans-serif;
}

.centroContenido {
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none;
}

.bordeDeli {
    border: 1.5px solid rgba(184, 170, 170, 0.68);
    border-radius: 15px;
}

.imgInicio {
    width: 40vh;
    height: auto;
}

.headerIndex {
    display: grid;
    grid-template-columns: 1fr 8fr;
    grid-template-rows: 13vh 110px;
    grid-template-areas: "barraTituIndex barraTituIndex"
                        "itemsIndex tituloIndex";
}

.barraTituIndex {
    grid-area: barraTituIndex;
    position: fixed;
    top: 0;
    border: 1.5px solid rgba(184, 170, 170, 0.68);
    background-color: rgb(238, 242, 241);
    width: 100%;
    z-index: 5;
}

.itemsIndex {
    grid-area: itemsIndex;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tituloIndex {
    grid-area: tituloIndex;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainIndex {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 40vh 10vh 6% 6% 9% 9% 34.7%;
    grid-template-areas: ;
}