* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("../imagen/glass.jpg"); 
    background-size: cover;
    display: block;
}

a {
    text-decoration: none;
}

.items a {
    color: black;
    display: block;
    padding: 12px 26px;
}

.barraMenu {
    color: rgba(153,153,153,1);
    padding: 10px 0 0 0;
}

.items a:hover{
    color: #fff;
    background: rgba(0,0,0,0.2) ;
}

table, th, td {
    border: {
        color: map-get($colores , negro);
        style: solid;
        collapse: collapse;
    }
    width: 50%;
    text-align: center;
}

li {
    list-style: none;
}

.li1 {
    list-style: none;
    float:left;
}

/*  ---- ICONO DE WHATSAPP ---- */

.container {
    background-color: #2e6329;
    position: fixed;
    z-index: 5;
    border-radius: 50%;
    bottom: 20px;
    left: 91%;
}

.boton{
    width: 65px;
}


