.editarDc {
    color: black;
    font: {
        size: $font-size;
        family: 'Dosis', sans-serif; 
    }
}

.editarOptica {
    color: map-get($colores , verde);
    font: {
        size: $font-size;
        family: 'Oswald', sans-serif;
    }
}

    /*  ---- ANTEOJOS DE SOL, DE CONTACTO, DE RECETA Y CONTACTO---- */

    .header {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.1fr 1fr 1fr;
        grid-template-areas: "barra"
                             "items"
                             "titulo";
    }
    
    .barra {
        grid-area: barra;
        border: 1.5px solid rgba(184, 170, 170, 0.68);
        background-image: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(4,6,3,0.7235936610972514) 38%);
        position: sticky;
        top: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 10;
    }
    
    .items {
        grid-area: items;
        background-color: #22c1c3;
        position: sticky;
        top: 0;
        z-index: 100;
        font-family: 'Oswald', sans-serif;
        font-size: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        }
    
    .titulo {
        grid-area: titulo;
        display: flex;
        justify-self: center;
        align-self: center;
    }